<ion-content class="swiper-no-swiping">
  <div class="container top">
    <img src="/assets/img/logo.png">

    <ion-segment (ionChange)="segmentChanged($event)" value="login" color="medium">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Register</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-slides>
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Password" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block" shape="round">
          Enter
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Register</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Password" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block" shape="round">
          Register
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="camera">
    <div class="film"></div>

    <div class="container bottom ion-text-center">
      <span>The app was created for film lovers.</span>
    </div>
  </div>
</ion-content>